.primeiraClasse {
    background: lightblue;
    border-style: dashed; 
    border-color: red;
}

p.segundaClasse {
    background: pink;
    border-style: double;
    border-color: purple;
}

#primeiroId {
    background-color: lightgoldenrodyellow;
    border: dotted;
}